{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "standard",
    "plugin:unicorn/recommended",
    "prettier",
    "prettier/standard",
    "prettier/unicorn",
    "prettier/@typescript-eslint"
  ],
  "overrides": [
    {
      "files": ["*.test.ts", "__tests__/**/*.ts"],
      "env": { "jest": true }
    },
    {
      "files": ["webpack.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "camelcase": "off",
    "import/export": "off",
    "no-redeclare": "off",
    "unicorn/no-null": "off",
    "unicorn/no-reduce": "off"
  }
}
