{
  "overrides": [
    {
      "files": [".babelrc", ".eslintrc", ".prettierrc"],
      "options": { "parser": "json" }
    }
  ],
  "proseWrap": "always",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2
}
